* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(330, 58%, 30%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center; 
}

.innercontainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    padding: 30px;
}

img {
    height: 250px;
    width: 500px;
    border-radius: 15px;
}

.main-heading{
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 15px;
    color: hsl(24, 5%, 18%);
}
